Soure - [Click here](https://medium.com/nerd-for-tech/how-to-create-tensorflow-tfrecords-out-of-any-dataset-c64c3f98f4f8#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjU1YzE4OGE4MzU0NmZjMTg4ZTUxNTc2YmE3MjgzNmUwNjAwZThiNzMiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIyMTYyOTYwMzU4MzQtazFrNnFlMDYwczJ0cDJhMmphbTRsamRjbXMwMHN0dGcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiIyMTYyOTYwMzU4MzQtazFrNnFlMDYwczJ0cDJhMmphbTRsamRjbXMwMHN0dGcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMDU2MjMzNzEwNDkyNTk5NjQ0MjEiLCJlbWFpbCI6ImRlYm5hdGhrMTk5N0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwibmJmIjoxNzA4NDY5MTczLCJuYW1lIjoiS3VzYWwgRGVibmF0aCIsInBpY3R1cmUiOiJodHRwczovL2xoMy5nb29nbGV1c2VyY29udGVudC5jb20vYS9BQ2c4b2NMY0ZMQjZkUnRNano2MXowRWU2RVNOTzM0QmMwY0szSHJ3SElfYzRYSFVONXJDPXM5Ni1jIiwiZ2l2ZW5fbmFtZSI6Ikt1c2FsIiwiZmFtaWx5X25hbWUiOiJEZWJuYXRoIiwibG9jYWxlIjoiZW4iLCJpYXQiOjE3MDg0Njk0NzMsImV4cCI6MTcwODQ3MzA3MywianRpIjoiMWNiZDdmMTc3MTJhNzIwNDljNmQwYTg1MWMyYTVjNWJhNzU2NDkzZSJ9.FTe3IPUeKSDmpHn9mvPe_-3195RL7s3CF8dnWaPfFNYszGxN_Q3-5SiP1dK8DOx4iBz2CRa1LCcOtOK4MklKbSd5XUsNI6O41GwN15E-iyag2eSeugkYKWasqPBh48Jet_77uF9tjVRKkN4qrEAHt6uAllDFhlU4snYjMWGikSexIgJMK2b3Yo4vCBd6uUNW1Nd-ZYdyX4MWX0BvNIvn7kEjv9fE6myu6Yr5RsXWeDnnmTA78mKBV-HCgedzim3lJngG1rej2nwCdA1YMmMPgOqHwKbA99IfgNq_qsK7FiliIoG1ZNeJzYo3sjwXHTP-c3GsWLNwlcHMHVeadAuvbA)

In [37]:
import tensorflow as tf
import pandas as pd
import h5py

tf.__version__

'2.15.0'

In [35]:
filename = 'ssp_data_train.tfrecord'

In [38]:
root = '/lustre/home/debnathk/dleps/code/DLEPS/reference_drug/' 
h5f = h5py.File(root + 'ssp_data_test.h5')
ssp_data_train = h5f['data'][:]
ssp_data_train

In [5]:
data.head()

,FP0,FP1,FP2,FP3,FP4,FP5,FP6,FP7,FP8,FP9,...,FP3062,FP3063,FP3064,FP3065,FP3066,FP3067,FP3068,FP3069,FP3070,FP3071
0,0,0,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,1,1,1,1,0,0,...,0,1,1,0,0,0,1,1,0,1
2,1,0,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,0,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
data_header = [i for i in range(data.shape[1])]
data_no_header = data.copy()
data_no_header.columns = data_header
data_no_header.head()

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,0,0,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,1,1,1,1,0,0,...,0,1,1,0,0,0,1,1,0,1
2,1,0,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,0,1,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
data_no_header[0]

0      0
1      0
2      1
3      0
4      0
      ..
420    0
421    0
422    1
423    0
424    0
Name: 0, Length: 425, dtype: int64

In [18]:
def _int64_feature(value):
  """Returns an int64_list from a bool / enum / int / uint."""
  return tf.train.Feature(int64_list=tf.train.Int64List(value=[value]))

In [22]:
@tf.py_function(Tout=tf.string)
def serialize_example(feature0):
  """
  Creates a tf.train.Example message ready to be written to a file.
  """
  # Create a dictionary mapping the feature name to the tf.train.Example-compatible
  # data type.
  feature = {
      'feature0': _int64_feature(feature0)
  }

  # Create a Features message using tf.train.Example.

  example_proto = tf.train.Example(features=tf.train.Features(feature=feature))
  return example_proto.SerializeToString()

In [23]:
# This is an example observation from the dataset.

example_observation = []

serialized_example = serialize_example(1)
serialized_example.numpy()

b'\n\x13\n\x11\n\x08feature0\x12\x05\x1a\x03\n\x01\x01'

In [24]:
example_proto = tf.train.Example.FromString(serialized_example.numpy())
example_proto

features {
  feature {
    key: "feature0"
    value {
      int64_list {
        value: 1
      }
    }
  }
}

In [25]:
filename = 'test.tfrecord'

In [26]:
data_no_header[0][0]

0

In [28]:
# Write the `tf.train.Example` observations to the file.
with tf.io.TFRecordWriter(filename) as writer:
  for i in range(10):
    example = serialize_example(data_header[i])
    writer.write(example.numpy())

In [29]:
filenames = [filename]
raw_dataset = tf.data.TFRecordDataset(filenames)
raw_dataset

In [37]:
for raw_record in raw_dataset.take():
  example = tf.train.Example()
  example.ParseFromString(raw_record.numpy())
  print(example)

TypeError: DatasetV2.take() missing 1 required positional argument: 'count'

In [33]:
import numpy as np
import tensorflow as tf

# Create dummy data
num_samples = 425
shape = (1, 3072)
# data = np.random.randint(low=0, high=100, size=(num_samples, *shape), dtype=np.int64)

data = np.array(data)

# Function to convert 3D data to tf.Example format
def _int64_feature(value):
    """Returns an int64_list from a int / bool."""
    return tf.train.Feature(int64_list=tf.train.Int64List(value=value.flatten()))

def serialize_example(feature0):
    feature = {
        'feature0': _int64_feature(feature0),
    }
    example_proto = tf.train.Example(features=tf.train.Features(feature=feature))
    return example_proto.SerializeToString()

# Write data to a tfrecord file
with tf.io.TFRecordWriter('data.tfrecords') as writer:
    for i in range(num_samples):
        example = serialize_example(data[i])
        writer.write(example)

# Read data from the tfrecord file
def _parse_function(example_proto):
    feature_description = {
        'feature0': tf.io.FixedLenFeature([np.prod(shape)], tf.int64),
    }
    example = tf.io.parse_single_example(example_proto, feature_description)
    feature0 = tf.reshape(example['feature0'], shape)
    return feature0

# Use multiple threads to read and preprocess the data
dataset = tf.data.TFRecordDataset('data.tfrecords')
dataset = dataset.map(_parse_function, num_parallel_calls=tf.data.experimental.AUTOTUNE)

In [34]:
dataset

In [28]:
data

array([[[82, 71, 97, ..., 46, 77, 52],
        [41, 88, 62, ..., 74, 40, 85],
        [79, 93, 39, ..., 94, 46, 13],
        ...,
        [82, 27, 60, ..., 41, 23, 60],
        [90, 68, 56, ..., 16, 65, 73],
        [29, 34, 40, ..., 39,  7, 61]],

       [[14, 59, 93, ..., 84, 91, 54],
        [85, 54, 94, ..., 98, 89, 61],
        [80, 34, 64, ..., 21, 33, 37],
        ...,
        [42, 78, 68, ..., 75, 59, 62],
        [70, 24, 59, ..., 16, 84, 67],
        [30, 74, 64, ..., 45, 87, 49]],

       [[39, 81, 84, ..., 95, 73, 24],
        [10, 99, 60, ...,  0, 47, 47],
        [76, 15,  4, ..., 63, 44, 76],
        ...,
        [85, 63, 71, ..., 35, 94, 81],
        [46,  4, 53, ...,  6, 50, 78],
        [ 9, 61, 56, ...,  2, 76,  5]],

       ...,

       [[85, 54, 28, ..., 61, 60, 28],
        [88, 22,  7, ..., 49, 64, 82],
        [12, 55, 46, ..., 68, 20, 69],
        ...,
        [42, 18,  3, ..., 22, 97, 33],
        [43, 75, 67, ..., 27, 58, 87],
        [35, 82, 99, ..., 29, 96,  7]],

       [[44, 36, 29, ..., 51, 37, 17],
        [47, 38, 54, ..., 45, 71, 46],
        [62,  2, 12, ..., 83, 99, 15],
        ...,
        [17, 92, 92, ..., 58, 19, 23],
        [82, 87, 59, ..., 92, 58,  4],
        [42, 38, 82, ..., 70, 62, 93]],

       [[85, 27, 34, ..., 14,  3, 55],
        [25, 93,  3, ...,  4, 63, 14],
        [52, 32, 34, ..., 97, 95, 48],
        ...,
        [86, 50, 63, ..., 13, 80, 64],
        [42, 34, 58, ..., 60, 33, 40],
        [24, 76, 61, ..., 91, 32,  3]]])

In [23]:
dataset